body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
}

.bg {
    background-color: white;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0%;
}

.branch_left {
    width: 60%;
    height: 60%;
    margin-left: 10px;
    margin-top: 25px;
}

.branch_right {
    width: 60%;
    height: 60%;
    margin-top: 25px;
    transform: rotateY(180deg);
}

.dub {
    width: 90%;
    height: 90%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    font-family: 'Baloo Bhai 2', sans-serif;

}
  

.left_top {
    grid-column: 1;
    grid-row: 1;
}
.left_bottom {
    grid-column: 1;
    grid-row: 2;
}
.right_top {
    grid-column: 4;
    grid-row: 1;
}
.right_bottom {
    grid-column: 4;
    grid-row: 2;
}

.main {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.container_content {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    background-color: #003300;
    color: white;
    text-align: center;
}

.text{
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

h1{
    font-size: 70px;
}

.center {
    display: flex;
    justify-content: center;
}

.baloo_bhai {
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
}

