.footer{
    width: 100%;
    height: 50px;
    font-size: 35px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-bottom: 0px;
    margin-right: 10px;
    text-align: right;
    padding-right: 15px;
}


.baloo_bhai {
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: 900;
}
