<!DOCTYPE html>
<html lang="en" class="bg">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./adults.component.css">
  <link href="https://fonts.cdnfonts.com/css/baloo-bhai-2" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>   
  <div>
    <div>
      <app-header></app-header>
    </div>
    <div class="wrapper">
      <div class="left-top">
        <br>
        <table>
            <tr>
                <th>Karte za odrasle</th>
                <th>Cena</th>
                <th>Količina</th>
            </tr>
            <tr>
                <td>Zoo</td>
                <td>800din</td>
                <td>
                  <input type="number" id="quantity_zoo" name="quantity_zoo" min="0" max="100" class="number_input" [(ngModel)]="quantity_zoo" (change) = "manageButton(); calculatePrice()">
                </td>
            </tr>
            <tr>
                <td>Zoo + akvarijum</td>
                <td>1000din</td>
                <td>
                  <input type="number" id="quantity_aquarium" name="quantity_aquarium" min="0" max="100" class="number_input" [(ngModel)]="quantity_aquarium" (change) = "manageButton(); calculatePrice()">
                </td>                
            </tr>
            <tr>
                <td>Zoo + hranjenje pandi</td>
                <td>1200din</td>
                <td>
                  <input type="number" id="quantity_feeding" name="quantity_feeding" min="0" max="100" class="number_input" [(ngModel)]="quantity_feeding" (change) = "manageButton(); calculatePrice()">
                </td>
            </tr>
            <tr>
                <td>Full pandica</td>
                <td>1500din</td>
                <td>
                  <input type="number" id="quantity_full" name="quantity_full" min="0" max="100" class="number_input"  [(ngModel)]="quantity_full" (change) = "manageButton(); calculatePrice()">
                </td>
            </tr>
            <tr>
                <td>(zoo+hranjenje+akvarijum)</td>
                <td></td>
                <td></td>
            </tr>
        </table>
      </div>
      <div class="right">
        <div class="center">
          <img src="../../../../assets/images/adults.png" alt="adults">
      </div>
      </div>
      <div class="left-bottom">
        <table>
            <tr>
                <td colspan="2">Unesi promo kod:</td>
                <td colspan="1">        
                    <input class="w3-input my_input" type="text" name = "promo_code" [(ngModel)]="promo_code" (change) = "calculatePrice()">
                </td>
            </tr>
            <tr>
              <td colspan="3">Ukupna cena je {{price}}</td>
            </tr>
            <tr>
              <td colspan="3" class="center_button">
                <button id = "submitReq" (click)="sendRequest()">&nbsp; &nbsp; Potvrdi &nbsp; &nbsp; </button> &nbsp;            
              </td>
            </tr>
            <tr>
              <td colspan="3" class="center_button">
                {{message}}            
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</body>  
</html>