<!DOCTYPE html>
<html lang="en" class="bg">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./tickets.component.css">
  <link href="https://fonts.cdnfonts.com/css/baloo-bhai-2" rel="stylesheet">
</head>
<body>   
  <div>
    <div>
      <app-header></app-header>
    </div>
  </div>
  <div>
    <div class="button_container">
      <br>
      <button class="buttons" onclick="location.href = '/tickets/children';">&nbsp; &nbsp; Deca &nbsp; &nbsp; </button>  <br><br>
      <button class="buttons" onclick="location.href = '/tickets/adults';">&nbsp; &nbsp; Odrasli &nbsp; &nbsp; </button>   <br><br>
      <button class="buttons" onclick="location.href = '/tickets/group';">&nbsp; &nbsp; Grupne posete &nbsp; &nbsp; </button>  <br><br>
    </div>
    <div class="text_container">
      <h1 class="heading baloo_bhai">Promo ponuda</h1>
      <p>Da hranis pande besplatno ukucaj kod: bamboo <br>
      Treći dobija kartu gratis: embarassment <br>
      Poklon iznenadjenja: redpanda</p>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</body>  
</html> 
