body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.head{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
    
}

.headline {
    color: white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}
  
.bg {
    background-image: url("../../assets/images/bamboo_2.png");
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    margin: 0;
    padding: 0%;
}


.login_form_container{
    display: grid;
    justify-content: center;
    align-items: center
}

.login_form {

    width: 500px;
    height: 500px;

    border-style: solid;
    border-width: 1px;
    border-color: white;

    background-color: rgb(1, 54, 1);

    text-align: center;

}

.login_headline {
    color: white;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}