body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.bg {
    background-image: url("../../../assets/images/homepage.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.message {
    position: relative;
    float: right;
    padding: 100px;
    padding-top: 10%;
}

.baloo_bhai {
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
    -webkit-text-stroke: 2px black;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
}


