body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.bg {
    background-image: url("../../../../assets/images/children_bg.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.baloo_bhai {
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
}


img{
    max-width: 270px;
    max-height: 450px;
    width: 100%;
    height: auto;
} 


.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        'one three five seven nine '
        'one four five eight nine '
        'two four six eight ten ';
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    /* grid-template-rows: 300px 300px; */
    grid-template-rows: minmax(200px, 2fr);
    color: #003300;
}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 { grid-area: one; }
.item2 { grid-area: two; }
.item3 { grid-area: three; }
.item4 { grid-area: four; }
.item5 { grid-area: five; }
.item6 { grid-area: six; }
.item7 { grid-area: seven; }
.item8 { grid-area: eight; }
.item9 { grid-area: nine; }
.item10 { grid-area: ten; }

.icon_button {
    background-color:#003300;
    outline: none;
    border: none;
}

.next {
    text-align: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat_icon{
    vertical-align: right;
}

.paginator{
    width: 400px;
    background-color: transparent;
}