<!DOCTYPE html>
<html lang="en" class="bg">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./header.component.css">
  <link href="https://fonts.cdnfonts.com/css/baloo-bhai-2" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="header fixed-top">
        <table class="baloo_bhai table">
            <tr>
                <th colspan="6"></th>
            </tr>
            <tr>
                <td class="one">
                    <button mat-fab extended class="icon_button">
                        <mat-icon>confirmation_number</mat-icon>
                        ULAZNICE
                    </button>
                </td>
                <td class="two"> 
                    <button *ngIf = "loggedUser?.type === 1" mat-fab extended class="icon_button">
                        <mat-icon>event_seat</mat-icon>
                        DEŠAVANJA
                    </button>
                </td>
                <td  *ngIf = "loggedUser?.type === 0" class = "three">
                    <button mat-fab extended class="icon_button">
                        <mat-icon>pets</mat-icon>
                        NOVA ŽIVOTINJA
                    </button>
                </td>
                <td  *ngIf = "loggedUser?.type === 1" class="two">
                    <button mat-fab extended class="icon_button">
                        <mat-icon>pets</mat-icon>
                        ŽIVOTINJE
                    </button>
                 </td>
                <td class="three"></td>
                <td *ngIf = "loggedUser?.type === 1" class="one">
                    <button mat-fab extended class="icon_button">
                        <mat-icon>notifications</mat-icon>
                        OBAVEŠTENJA
                    </button> 
                </td>
                <td class="two">
                    <button mat-fab extended class="icon_button">
                        MOJ NALOG
                        <mat-icon>account_circle</mat-icon>
                    </button> 
                </td>                
            </tr>
            <tr><td  colspan = 6></td>></tr>
        </table>
        <br>
        <br>
    </div>
</body>


