<!DOCTYPE html>
<html lang="en" class="bg">
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/baloo-bhai-2" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./register.component.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<!-- partial:index.partial.html -->
	<div class="split right">
		<h1 class="headline_2 baloo_bhai">Zoo vrt <br/> &nbsp; &nbsp; &nbsp; &nbsp; Pandica</h1>
	</div>
	
	<div  class="split left">
		<table class="register_form baloo_bhai">
			<tr><td colspan="2" class="form_headline">Registracija</td></tr>
			<tr><td colspan="2" class="label_column"> <label>korisničko ime</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="text" name = "username" [(ngModel)]="username"></td></tr>
			<br>
			<tr><td colspan="2" class="label_column"> <label>lozinka</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="password" name="password" [(ngModel)]="password"></td></tr>
			<br>
			<tr><td colspan="2" class="label_column"> <label>adresa e-pošte</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="email" name="email" [(ngModel)]="email"></td></tr>
			<br>
			<tr><td colspan="2" class="label_column"> <label>ime</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="text" name="firstName" [(ngModel)]="firstName"></td></tr>
			<br>
			<tr><td colspan="2" class="label_column"> <label>prezime</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="text" name="lastName" [(ngModel)]="lastName"></td></tr>
			<br>				
			<tr><td colspan="2" class="label_column"> <label>broj telefona</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="text" name="phone" [(ngModel)]="phone"></td></tr>
			<br>	
			<tr><td colspan="2" class="label_column"> <label>adresa</label></td></tr>
			<tr><td colspan="2"><input class="w3-input my_input" type="text" name="address" [(ngModel)]="address"></td></tr>
			<br>	
			<br>
			<tr><td align = "center" colspan="2"><input type="submit" value="Registrujte se" class="btn" (click)="registerUser()"/></td></tr>
			<br>
			<tr><td colspan="2" align="center">Već imate nalog? &nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Prijavite se</a></td></tr>

			<tr><td colspan="2"><p class="error" align = "center"> {{error}} </p></td></tr>
		</table>
		<br><br>
	</div>
</body>
</html>
