<!DOCTYPE html>
<html lang="en" class="bg">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./animal-added.component.css">
  <link href="https://fonts.cdnfonts.com/css/baloo-bhai-2" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>   
  <div>
    <div>
      <app-header></app-header>
    </div>

    <div class="center">
        <div class="container" *ngIf="animal != null">
            <div class="left">
                <img src="${{animal.img}}">
            </div>
    
            <div class="right">
              <div class="heading">
                Nova životinja uspešno dodata!
              </div>
              <div class="center_table">
                  <table>
                    <tr>
                      <td class="right-align">Naziv:</td>
                      <td class="left-align">{{animal.specie}}</td>
                    </tr>
                    <tr>
                      <td class="right-align">Latinski naziv:</td>
                      <td class="left-align">{{animal.latin}}</td>
                    </tr>
                    <tr>
                      <td class="right-align">Poreklo:</td>
                      <td class="left-align">{{animal.descent}}</td>
                    </tr>
                    <tr>
                      <td class="right-align">Populacija:</td>
                      <td class="left-align">{{animal.population}}</td>
                    </tr>
                    <tr>
                      <td class="right-align">Životni vek:</td>
                      <td class="left-align">{{animal.lifespan}}</td>
                    </tr>
                  </table>
              </div>

              </div>

        </div>
    </div>


  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</body>  
</html>